body {
}

#grid-layout {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(200px, 300px) minmax(350px, 4fr);
	grid-template-rows: 70px;
}

header {
	grid-column: span 2;
}

nav {
}

main {
	padding: 15px 15px 5px 15px;
	border: 1px solid black;
}

main > * {
	border: 1px solid black;
}

#main-hamburger-menu {
	color: var(--dark-green);
}
