@import url(colors.css);

nav {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 5px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#main-projects-heading,
#projects-heading {
	color: var(--dark-green);
	font-weight: 900;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 15px 15px 15px;
}

svg,
li {
	cursor: pointer;
}

.hide {
	display: none;
}

#main-projects-list .selected,
#projects-list .selected {
	background-color: rgba(96, 125, 139, 0.15);
}

.selected .selected-caret {
	opacity: 1;
	transform: rotate(270deg);
}

.selected-caret {
	opacity: 0;
}

.selected {
	display: flex;
	justify-content: space-between;
}

.svg-title-container {
	display: flex;
	gap: 5px;
}

.selected .main-projects-list-svg,
.selected .main-projects-item-name,
.selected .projects-list-svg,
.selected .projects-item-name {
	color: var(--dark-green);
	font-weight: bold;
}

.main-projects-item:hover,
.projects-item:hover {
	transition: ease-in-out 150ms;
	background-color: #f1efef;
}

.hamburger-menu:hover,
#nav-add-project:hover {
	transition: ease-in-out 150ms;
	background-color: #e5e7eb;
	border-radius: 5px;
}

#main-projects-list {
	display: flex;
	flex-direction: column;
	padding: 0px 0px 10px 0px;
}

.main-projects-item {
	padding-left: 15px;
	height: 50px;

	display: flex;
	gap: 5px;
	align-items: center;
}

.main-projects-item-name,
.projects-item-name {
	font-size: 1.3rem;
	color: grey;
}

#nav-border-container {
	display: flex;
	justify-content: center;
}

#nav-border {
	border: 1px solid #e1dfdd;
	width: 90%;
}

/* PROJECTS */

.projects-item {
	display: flex;
	align-items: center;
	padding-left: 15px;
	height: 50px;
	gap: 5px;
}
