@font-face {
	font-family: nunito;
	src: url(Nunito-VariableFont_wght.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: nunito, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

body {
	display: grid;
	grid-template-columns: 250px 1fr;
}

header {
	background-color: #4f46e5;
	height: 85px;
	display: flex;
	align-items: center;
	grid-column: span 2;
}

.header-title {
	font-size: 2rem;
	color: white;
	margin-left: 30px;
}

nav {
	height: calc(100vh - 85px);
	background-color: #f3f4f6;
	width: 250px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
}

li {
	list-style-type: none;
}

.task-items > li {
	list-style: none;
	background-color: #e2e8f0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 0px 10px 10px;
	width: 95%;
	font-size: 1.2rem;
}

.task-items > li:hover {
	font-size: 1.25rem;
	background-color: rgba(71, 85, 105, 0.2);
}

.task-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.task-selected {
	background-color: #4f46e5 !important;
	color: white;
}

.task-items > li {
	display: flex;
	gap: 10px;
}

.inbox-svg {
}

.tasks {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	margin-left: 10%;
}

.task-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.task > div {
	margin-left: 40px;
}

.task {
	border-radius: 5px;
	margin: 0px 0px 0px 40px;
	width: 65%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
	height: 80px;
	padding: 15px 25px 25px 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
}

.priority-low {
	border-left: 10px solid #22c55e;
}

.priority-medium {
	border-left: 10px solid #fcd34d;
}

.priority-high {
	border-left: 10px solid #ef4444;
}

.task-counter-utilities {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-left: 15px;
	font-size: 1.5rem;
	background-color: #81b29a;
	margin-left: 40px;
	width: 65%;
	height: 70px;
	margin-bottom: 25px;
	color: white;
	border-radius: 5px;
	gap: 20px;
}
.tasks-counter {
	margin-right: auto;
}

.delete-all-tasks {
	border: none;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	margin-right: 15px;
	background-color: red;
	width: 150px;
	height: 50px;
	padding: 0px 15px 0px 15px;
	cursor: pointer;
	border-radius: 5px;
}

.task-title,
.task-date,
.task-priority {
	font-weight: bold;
}

.task-description {
	font-size: 0.9rem;
	color: #6b7280;
}

.task-checked {
	position: absolute;
	top: 32%;
	left: -25px;
	width: 30px;
	height: 30px;
	border: 3px solid #4f46e5;
	border-radius: 50%;
	cursor: pointer;
}

.task-checked:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.task-checkmark-svg:hover {
	opacity: 1;
	transition: ease-in-out 300ms;
}

.checkmark-container {
	position: relative;
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
}

.task-checkmark-svg {
	position: absolute;
	opacity: 0;
	border-radius: inherit;
}

.task-header,
.project-header {
	font-size: 1.5rem;
	font-weight: bold;
	width: 95%;
}

.task-header {
	margin-bottom: 20px;
}

.projects {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	margin-left: 10%;
	gap: 15px;
}

.create-project {
	width: 95%;
	height: 45px;
	cursor: pointer;
	border: none;
	color: white;
	background-color: #4f46e5;
	border-radius: 5px;
	font-size: 1.2rem;
}

main {
	display: flex;
	flex-direction: column;
}

.task-selected-header {
	font-size: 2.5rem;
	display: flex;
	margin-left: 40px;
	margin-top: 40px;
}

/* TASK MODAL */

.show-task-modal {
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 25px;
	border: none;
	cursor: pointer;
	min-height: 50px;
	width: 200px;
	border-radius: 5px;
	background-color: #4f46e5;
	color: white;
	font-size: 1.2rem;
}

.modal-task-container {
	background-color: white;

	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.modal-buttons-container {
	display: flex;
	gap: 15px;
	justify-content: space-between;
}

.add-task,
.cancel-task {
	border: none;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	cursor: pointer;
}
.cancel-task {
	background-color: #dc2626;
	color: white;
	font-size: 1.05rem;
}
.add-task {
	background-color: #22c55e;
	color: white;
	font-size: 1.05rem;
}

.task-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.task-modal.hide {
	display: none;
}

.modal-task-header {
	background-color: #4f46e5;
	width: 100%;
	height: 75px;
	font-size: 1.5rem;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 25px;
	border-radius: 5px 5px 0px 0px;
}

input:focus,
textarea:focus,
#priority-selected:focus,
#project-selected:focus {
	outline: 2px solid #38bdf8;
}

#title,
#description,
#date {
	padding: 15px;
	border-radius: 5px;
	border: 1px solid rgba(15, 23, 42, 0.3);
}

.required-due-date {
	color: red;
	font-size: 0.85rem;
}

.date-error {
	outline: rgb(239, 68, 68) solid 2px;
}

.title-container {
	position: relative;
}

.title-checkmark-svg > svg,
.title-error-svg > svg {
	position: absolute;
	left: 385px;
	top: 45px;
	opacity: 0;
}

.title-container,
.description-container,
.date-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.task-info-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
	font-size: 1.2rem;
	padding: 25px;
}

.task-modal-selection-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

#priority-selected > option,
#project-selected > option {
	color: black;
}

.task-modal-priority-container,
.task-modal-project-container {
	display: flex;
	flex-direction: column;
	width: 200px;
}

#priority-selected,
#project-selected {
	padding: 10px;
	border-radius: 5px;
	border: none;
	border-right: 5px solid transparent;
}

.task-modal-priority-container > label,
.task-modal-project-container > label {
	padding-bottom: 5px;
}

.optional {
	font-size: 0.95rem;
	margin-left: 5px;

	color: #64748b;
}

textarea {
	resize: none;
}

.title-error {
	color: red;
	font-size: 0.85rem;
}

.delete-all-tasks-modal-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	color: black;
}
.delete-all-tasks-modal-container.hide {
	display: none;
}

.delete-all-tasks-modal-info-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 15px 15px;
	justify-content: space-between;
	height: 100%;
}

.delete-all-tasks-modal {
	background-color: white;
	width: 500px;

	height: 300px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.delete-all-tasks-heading {
	border-radius: 5px 5px 0px 0px;
	background-color: #4f46e5;
	padding: 15px;
	color: white;
}

.delete-all-tasks-message {
	font-size: 1.3rem;
}

.delete-all-tasks-modal button {
	border: none;
	padding: 10px 10px;
	border-radius: 5px;
	width: 180px;
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
	cursor: pointer;
}

.delete-all-tasks-button-container {
	display: flex;
	justify-content: space-between;
}

.delete-all-tasks-confirm:hover {
	background-color: #1faa52;
	opacity: 0.9;
}

.delete-all-tasks-cancel:hover {
	background-color: #af1e1e;
	opacity: 0.9;
}

.delete-all-tasks-cancel {
	background-color: #dc2626;
}
.delete-all-tasks-confirm {
	background-color: #22c55e;
}
