* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

body {
	display: grid;
	grid-template-columns: 250px 1fr;
}

header {
	background-color: #4f46e5;
	height: 85px;
	display: flex;
	align-items: center;
	grid-column: span 2;
}

.header-title {
	font-size: 2rem;
	color: white;
	margin-left: 30px;
}

nav {
	height: calc(100vh - 85px);
	background-color: #f3f4f6;
	width: 250px;
}

li {
	list-style-type: none;
}

.tasks > ul > li {
	list-style: none;
	background-color: #e2e8f0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 0px 10px 10px;
	width: 95%;
}

.tasks > ul > li:hover {
	font-size: 1.05rem;
	opacity: 0.8;
}

.tasks > ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.task-selected {
	background-color: #4f46e5 !important;
	color: white;
}

.tasks {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	gap: 25px;
}

.task-container {
	display: flex;
	flex-direction: column;
}

.task > div {
	margin-left: 40px;
}

.task {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	margin: 40px 0px 0px 40px;
	width: 40%;
	padding: 15px;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
}

.task-checked {
	position: absolute;
	top: 32%;
	left: -25px;
	width: 30px;
	height: 30px;
	border: 3px solid #4f46e5;
	border-radius: 50%;
	cursor: pointer;
}

.task-checked:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.task-checkmark-svg:hover {
	opacity: 1;
	transition: 100ms;
}

.checkmark-container {
	position: relative;
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
}

.task-checkmark-svg {
	position: absolute;
	opacity: 0;
	border-radius: inherit;
}

.task-header,
.project-header {
	font-size: 1.5rem;
	font-weight: bold;
	width: 95%;
}

.projects {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	margin-left: 10%;
	gap: 15px;
}

.create-project {
	width: 95%;
	height: 45px;
	cursor: pointer;
	border: none;
	color: white;
	background-color: #4f46e5;
	border-radius: 5px;
	font-size: 1.2rem;
}

main {
	display: flex;
	flex-direction: column;
}

.task-selected-header {
	font-size: 2.5rem;
	display: flex;
	margin-left: 40px;
	margin-top: 40px;
}

/* TASK MODAL */

.show-task-modal {
	margin-left: 40px;
	margin-top: 10px;
	border: none;
	cursor: pointer;
	min-height: 50px;
	width: 200px;
	border-radius: 5px;
	background-color: #4f46e5;
	color: white;
	font-size: 1.2rem;
}

.modal-task-container {
	background-color: white;

	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.modal-buttons-container {
	display: flex;
	gap: 15px;
	justify-content: space-between;
}

.add-task,
.cancel-task {
	border: none;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	cursor: pointer;
}
.cancel-task {
	background-color: #dc2626;
	color: white;
	font-size: 1.05rem;
}
.add-task {
	background-color: #22c55e;
	color: white;
	font-size: 1.05rem;
}

.task-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.task-modal.hide {
	display: none;
}

.modal-task-header {
	background-color: #4f46e5;
	width: 100%;
	height: 75px;
	font-size: 1.5rem;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 25px;
	border-radius: 5px 5px 0px 0px;
}

input:focus,
textarea:focus,
#priority-selected:focus,
#project-selected:focus {
	outline: 2px solid #38bdf8;
}

#title,
#description,
#date {
	padding: 15px;
	border-radius: 5px;
	border: 1px solid rgba(15, 23, 42, 0.3);
}

.title-container {
	position: relative;
}

.title-checkmark-svg > svg,
.title-error-svg > svg {
	position: absolute;
	left: 385px;
	top: 45px;
	opacity: 0;
}

.title-container,
.description-container,
.date-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.task-info-container {
	display: flex;
	flex-direction: column;
	gap: 25px;
	font-size: 1.2rem;
	padding: 25px;
}

.task-modal-selection-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

#priority-selected > option,
#project-selected > option {
	color: black;
}

.task-modal-priority-container,
.task-modal-project-container {
	display: flex;
	flex-direction: column;
	width: 200px;
}

#priority-selected,
#project-selected {
	padding: 10px;
	border-radius: 5px;
	border: none;
	border-right: 5px solid transparent;
}

.task-modal-priority-container > label,
.task-modal-project-container > label {
	padding-bottom: 5px;
}

.optional {
	font-size: 0.95rem;
	margin-left: 5px;

	color: #64748b;
}

textarea {
	resize: none;
}

.title-error {
	color: red;
	font-size: 0.85rem;
}
